@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;500&family=Source+Sans+Pro:wght@600;700&display=swap");
*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Manrope", sans-serif;
  background: #ffffff;
}
button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Manrope", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848484;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* // ========= common responsive ========= */
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* h1,h2,h3,h4,h5{
  color: #262e33;
}
p,span{
  color: #4d5459;
} */
.p-relative {
  position: relative !important;
}
.d-none {
  display: none !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-60 {
  margin-bottom: 50px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.l {
  margin: 0 !important;
}
.m-10 {
  margin-bottom: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.d-lg-none {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
.gap-10 {
  gap: 10px !important;
}
.gap-20 {
  gap: 20px !important;
}
.gap-30 {
  gap: 30px !important;
}
.vr-gap-30 {
  gap: 30px 0px !important;
}
.vr-gap-50 {
  gap: 50px 0px !important;
}
.gap-40 {
  gap: 40px !important;
}
/* .d-flex{
      display: flex;
    } */
.align-end {
  align-items: flex-end;
}
.width-full {
  width: 100%;
}
.Max-width-full {
  max-width: 100%;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.align-center {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.dualBtns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1770px;
  }
}
@media (min-width: 1920px) {
  .container-fluid {
    max-width: 80%;
  }
  .container {
    max-width: 80%;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  /* -ms-flex-preferred-size: 0; */
  flex-basis: 0;
  /* -ms-flex-positive: 1; */
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md {
    /* -ms-flex-preferred-size: 0; */
    flex-basis: 0;
    /* -ms-flex-positive: 1; */
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-md-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-md-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-md-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-md-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-md-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-md-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width:767px) {
  .navList {
    display: none;
}

.col-md-6.col-12 {}

.row.loginRow {
    gap: 30px;
}

.selSliderMain .row {
    gap: 30px;
}

.moviText {
    margin-top: 40px;
}

.logoFoot {
    /* width: 100%; */
}

.logoFoot {
    width: 100% !important;
    margin-bottom: 30px;
}

.footPart {
    flex-wrap: wrap;
}

.footRight .row {
    gap: 30px;
}
}
/* // ========= common responsive ========= */
/* // ========= header ========= */
.headMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

.logoKeel img {
  width: 145px;
}

.navMainListing {
  display: flex;
  align-items: center;
}

.navList ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-align: center;
  margin-right: 30px;
}

.joinBtn {
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-left: 1px solid #b7b3b3;
  margin-right: 10px;
}

.joinBtn button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: all 0.2s ease;
}

.joinBtn button:hover {
  background: #f7a7a726;
}

.SgnIn button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: all 0.2s ease;
  border: 1px solid #ef4f4f;
}

.SgnIn button:hover {
  background: #f7a7a726;
}

.navList ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #00000099;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navList ul li p {
  font-size: 14px;
  font-weight: 500;
}

.navList ul li:hover {
  color: #ef4f4f;
}
/* // ========= header ========= */
/* // ========= login Main ========= */
.row.loginRow {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headingLog h1 {
  font-size: 56px;
  font-weight: 300;
  color: #8f5849;
}

.inputForm input {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  height: 48px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  background-color: transparent;
  padding: 20px 12px 4px;
  outline: none;
}

.loginSection .formSection {
  width: 408px;
  margin-top: 24px;
}

.inputForm {
  position: relative;
  margin-bottom: 10px;
}

.inputForm label {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.inputForm input:focus {
  border-color: #ef4f4f;
  box-shadow: 0 0 0 1px #ef4f4f;
}

.inputForm input:focus ~ label {
  font-size: 12px;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 6px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.inputForm.inpuBtn button {
  position: absolute;
  right: 0;
  top: 8px;
  background: transparent;
  border: none;
  right: 14px;
  font-size: 16px;
  color: #838383;
  padding: 6px;
  border-radius: 4px;
}

.inputForm.inpuBtn input {
  padding-right: 52px;
}

.inputForm.inpuBtn button:hover {
  background: #f7a7a726;
}

button.frgBtn {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  margin: 16px 0 24px 0;
  display: block;
  background: no-repeat;
  border: none;
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 14px;
}

button.frgBtn:hover {
  text-decoration: underline;
  color: #ef4f4f;
}

button.mainBtn {
  width: 100%;
  border-radius: 50px;
  height: 56px;
  background: #ef4f4f;
  font-size: 18px;
  font-weight: 500;
  border: none;
  color: white;
}
/* // ========= login Main ========= */
/* // ========= explore ========= */
section.colorSection {
  background: #f3f2f0;
  padding: 60px 0;
}

.explrHeding h2 {
  font-size: 43px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.9);
}

.topicSection h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.allTopicsBtn button {
  height: min-content;
  min-height: 56px;
  border-radius: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid gray;
}

.allTopicsBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.allTopicsBtn button:hover {
  background: #ebe9e9;
}

/* // ========= explore ========= */
/* // ========= bigSlider ========= */
section.SecColorSlider {
  min-height: 840px;
  display: flex;
  align-items: center;
}

.selSliderMain .row {
  align-items: center;
}

.slidText h3 {
  font-size: 40px;
  font-weight: 300;
  color: #8f5849;
}

.slidText p {
  font-size: 28px;
  font-weight: 200;
  color: #000000e6;
  margin-top: 13px;
}
/* // ========= bigSlider ========= */
/* // ========= connect with people ========= */
section.connectCont {
  padding: 60px 0px;
  background: #f3f2f0;
}

.connctMain {
  padding: 60px 0px;
}

.contcData img {
  width: 70%;
  margin: auto;
  display: block;
}

.contcData {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.cntcText p {
  font-size: 42px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 40px;
  margin-top: 50px;
}

.cntcText button {
  height: min-content;
  min-height: 56px;
  border-radius: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid gray;
  background: white;
}

.cntcText button.selectcnt {
  border-radius: 4px;
}
/* // ========= connect with people ========= */
/* // ========= Movie Section ========= */
.moviText {
  position: relative;
}

.movieBlock .row {
  align-items: center;
}

.vidBlock iframe {
  width: 100%;
}

.moviText:before {
  /* content: ''; */
  position: absolute;
  height: 100%;
  width: 100%;
}

section.p-relative.min-height:before {
  content: '';
  width: 70%;
  background: #f9dfdf;
  height: 100%;
  position: absolute;
  right: 0;
}

section.p-relative.min-height {
  min-height: 740px;
  display: flex;
  align-items: center;
}

section.p-relative.min-height .container {
}

.moviText p {
  font-size: 40px;
  font-weight: 400;
  color: #b24020;
}
/* // ========= Movie Section ========= */
/* // ========= Footer ========= */
footer {
  background: #f3f2f0;
}

.footPart {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.logoFoot {
  width: 30%;
}

.logoFoot img {
  width: 140px;
}

.footRight {
  width: 70%;
}

.listFoot h4 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000e6;
  font-size: 16px;
}

.listFoot ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listFoot li {
  font-size: 14px;
  font-weight: 400;
  color: #00000099;
  font-weight: 600;
}
/* // ========= Footer ========= */
